doctype html
html
    head
        meta(charset="utf-8")
        title ES6 Express Barebones Application
        link(rel="stylesheet" href="app.css")

    body
        main(id="root" role="Application" aria-label="Application" aria-describedby="Main application content")
            include components/header.pug
            section(class="content")
                p
                    | This is the #{pageTitle} page.
                    | You should fill this page with content about your project, team, or yourself!
            section(class="counterApp")

            script(src="/app.js")